.photo-grid__list {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, 284px);
  grid-template-rows: repeat(auto-fit, 213px);
  grid-gap: 16px 16px;
  max-width: 1184px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .photo-grid__list {
    grid-gap: 14px 14px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(213px, 225px));
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__list {
    grid-template-columns: repeat(auto-fit, minmax(300px, 352px));
    grid-template-rows: repeat(auto-fit, minmax(225px, 264px));
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__list {
    grid-gap: 12px 12px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 352px));
    grid-template-rows: repeat(auto-fit, minmax(216px, 264px));
  }
}
