@media screen and (min-width: 1280px){
    .places {
        width: 76%;
        margin: 12vh auto 0;
    }
}

@media screen and (min-width: 1024px){
	.places {
        width: 90%;
	}
}

@media screen and (min-width: 768px){
	.places {
        width: 93%;
	}
}

@media screen and (min-width: 320px){
	.places {
        width: 90%;
	}
}