.lead {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
}
@media screen and (min-width: 1280px){
    .lead {
        width: 80%;
        margin: 7vh auto 0;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
	.lead {
        width: 90%;
        margin: 6vh auto 0;
	}
}

@media screen and (min-width: 426px)and (max-width: 1023px){
	.lead {
        width: 93%;
        margin: 6vh auto 0;
	}
}

@media screen and (max-width: 425px){
	.lead {
        width: 90%;
        margin: 8vh auto 0;
	}
}