.cover__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: 0 auto;
    color: #FFFFFF;
    text-decoration: none;
    width: 28%;
}
@media screen and (max-width: 1279px){
	.cover__subtitle {
        width: 35%;
	}
}

@media screen and (max-width: 1023px){
	.cover__subtitle {
        width: 46%;
	}
}
@media screen and (max-width: 767px){
	.cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 50%;
	}
}
@media screen and (max-width: 500px){
	.cover__subtitle {
        width: 60%;
	}
}
@media screen and (max-width: 349px){
	.cover__subtitle {
        width: 90%;
	}
}