.header__logo {
    justify-self: start;
    object-fit: cover;
    align-self: stretch;
}
@media screen and (min-width: 1280px){
    .header__logo {
        height: 100%;

    }
}
@media screen and (max-width: 1279px){
    .header__logo {
        height: 90%;
    }
}