.header {
    padding: 0;
    display: grid;
    grid-template-columns: 30fr repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 1%;
    justify-items: start;
    align-items: stretch;
}
@media screen and (min-width: 1280px){
    .header {
        width: 90%;
        margin: 4vh auto 0;
        height: 8vh;
    }
}
@media screen and (min-width: 721px) and (max-width: 1279px){
	.header {
        width: 93%;
        margin: 3vh auto 0;
        height: 6vh;
        
    }
}
@media screen and (min-width: 426px) and (max-width: 720px){
	.header {
        width: 93%;
        margin: 3vh auto 0;
        height: 6vh;
        
    }
}

@media screen and (max-width: 425px){
	.header {
        width: 90%;
        margin: 3vh auto 0;
        height: 6vh;
	}
}