.lead__title {
    font-style: normal;
    font-weight: 900;
    text-align: center;
    padding: 0;
    margin: 0 auto 4vh;
}
@media screen and (min-width: 1280px){
    .lead__title {
        width: 73%;
        height: 200px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1279px){
	.lead__title {
        width: 77%;
        height: 200px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	.lead__title {
        width: 93%;
        height: 200px;
        font-size: 96px;
        line-height: 100px;
    }
}

@media screen and (max-width: 767px){
	.lead__title {
        width: 90%;
        height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
}