.lead__subtitle {
    font-style: normal;
    font-weight: 400;
    text-align: center;
    padding: 0;
}

@media screen and (min-width: 1280px){
    .lead__subtitle {
        width: 65%;
        font-size: 30px;
        line-height: 36px;
        margin: 0 auto 8vh;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1279px){
	.lead__subtitle {
        width: 65%;
        font-size: 30px;
        line-height: 36px;
        margin: 0 auto 8vh;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	.lead__subtitle {
        width: 72%;
        font-size: 30px;
        line-height: 36px;
        margin: 0 auto 6vh;
    }
}

@media screen and (max-width: 767px){
	.lead__subtitle {
        width: 83%;
        font-size: 16px;
        line-height: 20px;
        margin: 0 auto 6vh;
	}
}