.cover__title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    z-index: 1;
    margin: 17vh auto 4vh;
    padding: 0;
    width: 43%;
}