.place {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: repeat(2 minmax(min-content, max-content));
  grid-row-gap: 48px;
  grid-column-gap: 40px;
  justify-items: start;
  align-items: start;
  width: 100%;
  max-width: 984px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-column-gap: 32px;
    grid-template-columns: 440px 456px;
    max-width: 928px;
  }
}
@media screen and (max-width: 1023px) {
  .place {
    grid-column-gap: 28px;
    grid-template-columns: 340px 352px;
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    margin: 0 auto;
    grid-row-gap: 32px;
    max-width: 320px;
  }
}
