.place {
    margin: 0 auto 11vh;
    display: grid;
    grid-template-columns: 0.46fr 0.54fr;
    grid-template-rows: repeat(4 minmax(min-content, max-content));
    gap: 4% 4%;
    justify-items: start;
    align-items: start;
}
@media screen and (min-width: 1280px){
    .place {

    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
	.place {

	}
}

@media screen and (min-width: 768px) and (max-width: 1023px){
	.place {

	}
}

@media screen and (min-width: 320px) and (max-width: 767px){
	.place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4 minmax(min-content, max-content));
        margin: 0 auto 5vh;
	}
}